<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Home" alt=""></td>
        <td><a href="{{site.baseurl}}/navigation/section/csse">CSSE</a></td>
        ![image](https://github.com/user-attachments/assets/04037765-8b57-449f-91bf-08ca64c67c22)
        <td><a href="{{site.baseurl}}/navigation/section/csp">CSP</a></td>
        <td><a href="{{site.baseurl}}/navigation/section/csa">CSA</a></td>
        <td><a href="{{site.baseurl}}/kasm/pages/intro">Kasm</a></td>
        <td id="loginArea"><a href="{{site.baseurl}}/login">Login</a></td>

